name: Deploy to OSS

on:
  workflow_run:
    workflows: ["Optimize resource pack"] 
    types:
      - completed

jobs:
  upload:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Download latest released pack
        uses: dsaltares/fetch-gh-release-asset@1.1.1
        with:
          file: pack.zip
          target: pack.zip
      - name: Install ossutil
        run: |
          sudo -v
          curl https://gosspublic.alicdn.com/ossutil/install.sh | sudo bash
    
      - name: Configure ossutil
        run: |
          ossutil config -e ${{ secrets.OSS_ENDPOINT }} -i ${{ secrets.ALIYUN_ACCESS_KEY_ID }} -k ${{ secrets.ALIYUN_ACCESS_KEY_SECRET }} -c ~/.ossutilconfig
  
      - name: Upload files to OSS with timeout and error handling
        run: |
          set -e
          timeout 5s ossutil cp pack.zip oss://g2213swo/assets/pack.zip || (echo "Upload timed out or failed" && exit 1)
        
        
        
  
